@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Inter_Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Inter_Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Inter_Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Inter_SemiBold.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  // height: 100%;
  touch-action: manipulation;
}

.page__body {
  height: 100%;
  font-family: "Inter", sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #1f2020;
  text-wrap: balance;
  min-height: 100%;
  background-color: #f2f2f2;
}

.cart-modal__item {
  &--removed {
    position: relative;
    pointer-events: none;

    .cart-item__icon-container {
      cursor: pointer;
      pointer-events: auto;

      &:hover {
        filter: brightness(0);
      }
    }
  }
}

.page__container {
  min-width: 375px;
  max-width: 1920px;
 
  margin: 0 auto;
 
  background-color: #ffffff;
  position: relative;
}

.wrapper {
  min-width: 330px;
  padding: 0 3.4vw;

  @media (max-width: 1440px) {
    padding: 2.4vw;
  }

  @media (max-width: 376px) {
    padding: 24px;
  }
}

.no-scroll {
  overflow: hidden !important;
  position: fixed !important; // Зафиксировать страницу
  top: 0;
  left: 0;
  right: 0;
  height: 100vh; // Высота ограничивается окном
  width: 100vw; // Ширина ограничивается окном
}
